Package: com.sst1337.panoramapapers
Name: PanoramaPapers
Depends: mobilesubstrate
Version: 1.6.2
Architecture: iphoneos-arm
Description: Add a different image to each SpringBoard Screen!
Maintainer: sst1337
Author: sst1337
Section: Tweaks
